<nav class="blue">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Carlos Tellez Page</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>{{#link-to "login"}}Iniciar Sesión{{/link-to}}</li>
        <li>{{#link-to "landing"}}Landing{{/link-to}}</li>
      </ul>
    </div>
</nav>
<marquee>Welcome to the new ember app!</marquee>
{{outlet}}