<span>Soy Carlos Tellez y me gusta comer pizza!</span>
<ul class="collection">
  {{#each model as |superheroe|}}
  	<li class="collection-item">{{superheroe}}</li>
  	{{else}}
  		<p>The superheroes have been killed by Thanos</p>
  {{/each}}
</ul>